:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #f4f6f8;
  --border: #e5e4e7;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  --grid-template: 20px 50px minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1.5fr) minmax(0, 1fr) minmax(0, 1.5fr) 40px;

  font: 16px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  margin: 0;
}

h1 {
  font-size: 36px;
  letter-spacing: -1.68px;
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
}

p {
  margin: 0;
}

code {
  font-family: var(--mono);
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--text-h);
  background: #f4f3ec;
}